#section{
    background: url("../assets/03.jpg");
    background-size: cover;
    background-attachment: fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
    height: 82vh;
    width: 100%;
    }